<p id="notice"><%= notice %></p>

<header class="question-header--index">
  <h1 class="questions--listing">Listing Questions</h1>
  <%= form_tag new_question_path, method: :get do %>
    <%= select_tag :prompt_type, options_for_select(Prompt.all_types), prompt: "Select New Question Type" %>
    <%= submit_tag "New Question", name: nil %>
  <% end %>
</header>

<table  style="text-align:center;">
  <thead>
    <tr>
      <th>ID</th>
      <th>Type</th>
      <th>Prompt</th>
      <th>Difficulty</th>
      <th>Grade Level</th>
      <th>Subjects</th>
      <th>Tags</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.id %></td>
        <td><%= question.prompt.type_name %></td>
        <td><%= question.prompt.to_one_liner %></td>
        <td><%= question.difficulty %></td>
        <td><%= question.grade_level %></td>
        <td><%= question.subject_list.join(", ") %></td>
        <td><%= question.tag_list.join(", ") %></td>
        <td><%= link_to 'Show', question %></td>
        <td><%= link_to 'Edit', edit_question_path(question) %></td>
        <td><%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
