<header class="question-header">
  <h1 class="question-title">Question #<%= question.id %></h1>
  <dl class="question-details-list">
    <div class="question-detail">
      <dt class="detail-name">Difficulty</dt>
      <dd class-"detail-value"><%= question.difficulty %></dd>
    </div>
    <div class="question-detail">
      <dt class="detail-name">Grade Level</dt>
      <dd class-"detail-value"><%= question.grade_level %></dd>
    </div>
    <div class="question-detail">
      <dt class="detail-name"><%= pluralize("Subject", question.subjects)%></dt>
      <dd class-"detail-value"><%= question.subjects_pill_list %></dd>
    </div>
    <div class="question-detail">
      <dt class="detail-name"><%= pluralize("Tag", question.tags)%></dt>
      <dd class-"detail-value"><%= question.tags_pill_list %></dd>
    </div>
  </dl>
</header>
<section class="question-prompt prompt--<%= question.prompt.type%>">
  <h2 class="question-prompt-title">Prompt</h2>
  <%= render question.prompt %>
</section>
<section class="question-choices">
  <h2 class="question-choices-title">Choices</h2>
  <ol class="question-choices-list">
    choice_list_items question.choices
  </ol>
</section>
