<% content_for(:html) { 'class=Page--Question' } %>

<main>
  <section class="Question <%= @test.answered?(@question) ? "Question--answered" : "" %>">
    <section class="Question-Content">
      <article class="Prompt-Wrapper">
        <p class="Question-Directions">Read the following prompt and select the most correct answer.</p>
        <%= render partial: prompt_partial_path(@question.prompt, "show"), locals: { prompt: @question.prompt } %>
      </article>
      <footer class="Question-Info-Wrapper pink lighten-3">
        <dl class="Question-Info_List Info_List">
          <dt class="Info_List-Key Info_List-Key--question_count">Question</dt>
          <dd class="Info_List-Value Info_List-Value--question_count">
            <span class="question_count--current"><%= @test.position %></span> / <span class="question_count--total"><%= @test.test_configuration.number_of_questions %></span>
          </dd>
        </dl>
      </footer>
    </section>
    <ol class="Choice_List">
      <% @question.choices.each do |c| %>
      <li class="Choice Choice--text" data-choice-id="<%= c.id %>">
        <%= c.to_s %>
        <i class="Choice-Next Button--next"></i>
      </li>
      <% end %>
    </ol>
  </section>
</main>
