<p id="notice"><%= notice %></p>

<header class="test-header--index test-header page-header">
  <h1 class="page-heading">Listing <%= current_user.admin? ? "All" : "Your" %> Tests</h1>
  <%= link_to 'New Test', new_test_path if current_user.admin? %>
</header>

<table>
  <thead>
    <tr>
      <th>Test Name</th>
      <th>Question</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td class="test-display-name"><%= test.decorate.display_name %></td>
        <td><%= test.decorate.current_test_position %></td>
        <%= test.decorate.allowed_actions %>
      </tr>
    <% end %>
  </tbody>
</table>
